.mainContainer{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid #000000;
  border-radius: 5px;
  background-image: url("curtain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.table{
    margin-top: 0;
    padding: 0;
    list-style-type: none;
    background-color: #d6d6d6;
    border: 3px solid;
    border-radius: 3px;
}

.createAndJoin {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

/* Style for all buttons inside .createAndJoin */
.createAndJoin button {
  padding: 9px 23px;
  font-size: 16px;
  background-color: #4a9700;
  color: #fff;
  border: outset #3e7e00;
  cursor: pointer;
}

.createAndJoin button:hover {
  background-color: #3e7e00;
  border: inset #4a9700;
}