body {
    background-image: url("Kino.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    flex-flow: center;
    align-items: center;
    border-style: solid;
    margin: auto;
}
.header{
    font-family: 'Courier New', Courier, monospace;
}